@import url(reset.css);

#locknlock_1{position:relative;width:100%;height:969px;background: #F1F3B5;font-family: 'NeoDunggeunmo';color:#534E4E;animation: appear 2s linear 0s;}

@keyframes appear{
    0%{opacity: 0;}
    100%{opacity: 1;}
    
}

.memo{position:absolute;left:40px;top:80px;width:436px;height:570px;background: url(../images/memo_pad_sky.png) no-repeat 0 0;transform-origin:center top;animation: swing 1.5s linear 0s infinite alternate;}
.memo > p{position: absolute;left:85px;top:195px;font-size: 32px;line-height: 1.3;}

@keyframes swing {
    0%{transform: rotate(2deg);}
    100%{transform: rotate(-2deg);}
    
}

.mockup{z-index:10;position:absolute;right:40px;top:240px;}
.mockup > .pc{position:relative;display:inline-block;width:700px;height:607px;background: url(../images/mockup-pc_large.png) no-repeat 0 0;margin-right: 15px;}
.mockup > .pc > .screen1{position:absolute;left:54px;top:45px;width:592px;height:359px;overflow: hidden;}
.mockup > .pc > .screen1 > span{display: block;width:592px;height:2894px;background: url(../images/locknlock_pc.png) no-repeat 0 0;background-size:contain ;animation: pc 15s linear 0s infinite alternate;}

@keyframes pc {
    0%{transform: translateY(0);}
    100%{transform: translateY(-2535px);}  
}

.mockup > .tablet{position:relative;display: inline-block;width:408px;height:558px;background: url(../images/mockup-tablet.png) no-repeat 0 0;margin-right: 15px;}
.mockup > .tablet > .screen2{position:absolute;left:36px;top:38px;width:336px;height:456px;overflow: hidden;}
.mockup > .tablet > .screen2 > span{display: block;width:336px;height:3042px;background: url(../images/locknlock_tablet.png) no-repeat 0 0;background-size: contain;animation: tablet 15s linear 0s infinite alternate;}

@keyframes tablet {
    0%{transform: translateY(-2586px);}
    100%{transform: translateY(0);}  
}

.mockup > .phone{position:relative;display: inline-block;width:177px;height: 308px;background: url(../images/mockup-phone.png) no-repeat 0 0;}
.mockup > .phone > .screen3{position:absolute;left:28px;top:28px;width:122px;height:236px;overflow: hidden;}
.mockup > .phone > .screen3 > span{display:block;width:122px;height:1757px;background: url(../images/locknlock_mobile.png) no-repeat 0 0;background-size:contain;animation: phone 15s linear 0s infinite alternate;}

@keyframes phone {
    0%{transform: translateY(0);}
    100%{transform: translateY(-1521px);}  
}


.btn_next{position:absolute;z-index:10;right:50px;bottom:22px;}
.btn_next > a{display: block;width:123px;height:80px;background: url(../images/btn_next.png) no-repeat 0 0;animation: btn_scale 1.5s linear 0s infinite;}
@keyframes btn_scale {
    0%{transform: scale(1);}
    25%{transform: scale(1.03);}
    50%{transform: scale(1);}
    75%{transform: scale(1.02);}
    100%{transform: scale(1);}
    
}

.floor_navy{position:absolute;bottom:0;left:0;width:100%;height:235px;background: #90C1E8;}