/* locknlock_3.css */

@import url(reset.css);

#locknlock_3{position:relative;width:100%;height: 969px;background: #F1F3B5;font-family: 'NeoDunggeunmo';color:#534E4E;animation: appear 2s linear 0s;}

@keyframes appear{
    0%{opacity: 0;}
    100%{opacity: 1;}
    
}

#locknlock_3 > p{font-size: 40px;padding:30px;}
.mockup{position:relative;left:376px;z-index:10;width:651px;height:774px;background: url(../images/locknlock_check_3.png) no-repeat 0 0;}

.stamp{opacity:0;position:absolute;z-index:20;left:785px;bottom:155px;width:181px;height:180px;background: url(../images/stamp.png) no-repeat 0 0;animation: appear 2s linear 2.3s forwards,stamp 1.5s ease-in 2.3s;}

@keyframes stamp{
    0%{transform: scale(2);}
    100%{transform: scale(1);}
    
}

.memo{position:absolute;right:236px;top:170px;width:514px;height:448px;background: url(../images/memo_pad_yellow.png) no-repeat 0 0;animation: swing 1.5s linear 0s infinite alternate;}
.memo > p{position: absolute;left:98px;top:170px;font-size: 32px;line-height: 1.3;}

@keyframes swing {
    0%{transform: rotate(2deg);}
    100%{transform: rotate(-2deg);}
    
}

.btn_prev{position:absolute;z-index:10;left:50px;bottom:22px;}
.btn_prev > a{display: block;width:123px;height:80px;background: url(../images/btn_prev.png) no-repeat 0 0;animation: btn_scale 1.5s linear 0s infinite;}
.btn_next{position:absolute;z-index:10;right:50px;bottom:22px;}
.btn_next > a{display: block;width:123px;height:80px;background: url(../images/btn_next.png) no-repeat 0 0;animation: btn_scale 1.5s linear 0s infinite;}

@keyframes btn_scale {
    0%{transform: scale(1);}
    25%{transform: scale(1.03);}
    50%{transform: scale(1);}
    75%{transform: scale(1.02);}
    100%{transform: scale(1);}
    
}

.floor{position:absolute;bottom:0;left:0;width:100%;height:235px;background: #90C1E8;}
